.calc--results{
    background-color: @dark_green;
    border-radius: 10px;
    padding: 2em;
}

h5 {
    margin: 0;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.result--description {
    // font-size: 1.2rem;
    color: @calc_color;
    & span {
        font-size: .8rem;
        color: @text_color;
    }
}

.result--numbers {
    color: @big_digits_color;
    font-size: 2rem;
    font-weight: 400;
}

.reset {
    width: 100%;
    padding: 0.8em;
    margin-top: 2em;
    border: none;
    border-radius: 5px;
    background-color: @light_green;
    color: @dark_green;
    cursor: pointer;
}

@media screen and(min-width: 600px) {
    .calc--results {
        width: 45%;
    }
}